<div class="contenedor">
    <div class="card mb-3" style="border-color: black;width:700px;height: 400px;text-align: center;">
      <div class="row">
        <div class="col-md-4">
            <h2 class="text-center text-danger">Misión</h2>
          <img class="logo" src="assets\img\logo_r.png" alt="logo">
        </div>
        <div class="col-md-8" >
          <div class="card-body">
            <p class="text">Es misión de la Registraduría Nacional del Estado Civil garantizar la organización y transparencia del proceso electoral,la oportunidad y confiabilidad 
                 de los escrutinios y resultados electorales,contribuir al fortalecimiento de la democracia mediante su neutralidad y objetividad, promover la participación social 
                 en la cual se requiera la expresión de la voluntad popular mediante sistemas de tipo electoral en cualquiera de sus modalidades, así como promover y garantizar, 
                 en cada evento legal en que deba registrarse la situación civil de las personas, que se registren tales eventos, se disponga de su información a quien deba legalmente solicitarla,
                  se certifique mediante los instrumentos idóneos establecidos por las disposiciones legales y se garantice su confiabilidad y seguridad plenas
          </div>
         </div>
      </div>
    </div>
  </div>

  