<div class="container">
    <form (ngSubmit)="onCreateMesas()">
        <div class="form-group">
            <label for="cantidad_inscritos">cantidad_inscritos</label>
            <input type="text" class="form-control" id="cantidad_inscritos" [(ngModel)]="mesas.cantidad_inscritos" name="cantidad_inscritos">
        </div>
        <div class="form-group">
            <label for="numero">numero</label>
            <input type="text" class="form-control" id="numero" [(ngModel)]="mesas.numero" name="numero">
        </div>
      
      
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  
  </div>