@font-face {
    font-family: 'Ghotam_Black'; /* Nombre de la fuente que deseas usar */
    src: url('/src/assets/fonts/Ghotam/Gotham-Black.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }

.contenedor {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 77vh;
    background-color: #c7cacc; 
}
.row{
    margin: 0px;
}

.titulo {
    font-size: 250%;
    color:#000000;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Ghotam_Black';
}

.login {
    width: 100%;
    padding: 8.2% 4%;
}


.login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    display: block;
    width: 100%;
    height: 70%;
    padding: 5px 5px 5px 5px;
    margin-bottom: 0.6em;
    border: solid;
    border-radius: 50px;
    border-color: #1e1d1d;
    background-color: transparent;
}

.login input::placeholder {
    color: #0e0e0e;
    font-family: 'Ghotam_Black';
    font-size: 1.5em;
    text-align: center;
}

.login button {
    font-family: 'Ghotam_Black';
    font-size: 1.5em;
    margin-top: 2%;
    margin-bottom: 3.0%;
    width: 70%;
    border: solid;
    border-radius:20px ;
    border-color: transparent;
    background: linear-gradient(rgb(202, 228, 246), rgb(105, 96, 163));
    color: #080808;
  
}

.login button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}
.card{
    text-align: center;
    text-decoration-color: #1b262c;
    width: 500px;
    height: 64vh;
    border: 2px solid #1e1d1d; /* Agrega un borde sólido de 2px de ancho y color #1e1d1d */
    
}
.card-body{
    padding: 0px;
    margin: 0px;
}


.col-md-5{
    background: linear-gradient(rgb(202, 228, 246), rgb(105, 96, 163));
    margin-bottom: 44px;
}
.contenedor-logo{
    background-color: #4c8eb9;
    
    
}