<div class="contenedor">
  <div class="card mb-3" style="border-color: black;width:700px;height: 400px;text-align: center;">
    <div class="row">
      <div class="col-md-4">
        <img class="logo" src="assets\img\logo_r.png" alt="logo">
      </div>
      <div class="col-md-8" >
        <div class="card-body">
          <p class="text">Somos la Registraduria de todos los Colombianos
        </div>
        <a class="btn " href="#" [routerLink]="['/login']" role="button">Resultados Elecciones</a>
      </div>
    </div>
  </div>
</div>